<h1>Welcome <%= @user.username %> !</h1>

<div>
	<form method="get" action="/players/games/create">
		<input type="submit" value="Create Game"/>
	</form>
	<button href="#">Join Game</button><br>

</div>

<a href="/logout">Log Out</a>