<h1>Sign in to start!</h1>
<form action="/auth/login" method="post">
  <p>Username: <input type="text" name="user[username]" required="required" /></p>
  <p>Password: <input type="password" name="user[password]" required="required"/></p>
  <input type="submit" value="Log In" />
</form>

<h1> Don't have account? Register to play!</h1>
<form action="/register" method="post">
	<p>Full Name:<input type="text" name="user[name]" required="required" /></p>
	<p>Username:<input type="text" name="user[username]" required="required" /></p>
	<p>Password:<input type="password" name="user[password]" required="required" /></p>
	<input type="submit" value="Register!">
</form>