
<form method="POST" action="/players/games">
	<label>Select player:</label>
	<select name="player">
		<%= @options %>
	</select>
	<br>
	<label>Select board: </label>
	<select name="board">
		<option value="5">5x5</option>
		<option value="10">10x10</option>
		<option value="15">15x15</option>
	</select>
	<br>
	<input type="submit" value="Posicionar barcos"/>
</form>