<h1>Choose your options before create your game:</h1>
<br>
<form method="POST" action="/players/<%= @id %>/games">
	<label>Select player:</label>
	<select name="player">
		<%= @options %>
	</select>
	<br>
	<br>
	<label>Select board: </label>
	<select name="board">
		<option value="5">5x5</option>
		<option value="10">10x10</option>
		<option value="15">15x15</option>
	</select>
	<br>
	<br>
	<input type="submit" value="Put your Ships" class="submit"/>
</form>