
<form method="POST" action="/players/games">
	<label>Select player:</label>
	<select name="player">
		<%= @options %>
	</select>
	<br>
	<label>Select board: </label>
	<select name="board">
		<option value="board5x5">5x5</option>
		<option value="board10x10">10x10</option>
		<option value="board10x10">15x15</option>
	</select>
	<br>
	<input type="submit" value="Create Game"/>
</form>